@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background-image: url('/images/background.jpg');
    background-size: cover;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 50px;
    background-color: beige;
    width: 600px;
    padding: 10px;
    margin-left: 300px;
}

.form {
    padding: 10px;
    font-size: 2rem;
    background-color: beige;
    width: 400px;
    margin-left: 400px;
}

.resultParas {
    font-size: 1.5rem;
    text-align: center;
    background-color: beige;
    width: 400px;
    padding: 10px;
    margin-left: 400px;
}

button {
    padding: 10px;
    background-color: rgb(31, 175, 86);
    margin-left: 550px;
    margin-top: 10px;
}